/*菜鸟一枚，写这么一个花哨的简历就是为了求收留 ^_^*/	


	
/*原本是想加一个公共部分的CSS，有一部分需要取消默认样式，就写了一个*号的和a元素的*/
			*{
				margin: 0;
				padding: 0;
			}
#resume{
position: relative;

   width: 100%;
   height: auto;
}
#resume img{
	position: absolute;
	width: 100%;
   height: 700px;
   z-index: -1;
}
   #resume .resume-user{
   	position: absolute;
   	width:100%;
   height: 50px;
  /* border: 1px solid white;*/
   	top: 180px;
   }
       #resume .resume-user p{
      
       	
       	text-align: center;
       animation: move 2s ease-in-out;
       }  
       @keyframes move{
       	0%{
       		opacity: 0.1;
       		transform: translateY(-190px);
       	}
       	100%{
       		opacity: 1;
       		transform: translateY(0);
       	}
       }
       #resume .resume-user a{
       	color: yellow;
       	font-size: 18px;
       	font-style: italic;
       	text-decoration: none;
       }
       #resume .resume-user span{
       	color: cyan;
       	padding: 0px 12px;
       }
       /*大背景图块*/
     #resume .resume-mode{
     	position: relative;
     /*	border: 1px solid chartreuse;*/
     	width: 100%;
     	height: 145px;
     	top: 230px;
     }
      #resume .resume-mode ul{/*父元素上有了定位,ul上不要再加定位了，要水平居中直接加margin 0 auto*/
      	width: 550px;
      	height: 145px;
      /*	border: 2px dashed #6495ED;*/
      	background: url(image/bg.png) no-repeat;
      	clear: both;
      	margin: 0 auto;
      	animation: mode 2s ease-in-out;/*动画名 动画时长 */
      }
      @keyframes mode{/*让它跑圈 360度 直接从百分0到百分百 就行*/
      	0%{
      		transform: rotate(0) scale(0,0);
      		
      	}
      	100%{
      		transform:rotate(360deg) scale(1,1);
      		
      	}
      }
      
     #resume .resume-mode li{
     	float: left;	
     	
     	
     }
    #resume .resume-mode li .resume-nth1:nth-of-type(1){
    	display: block;
    	background: url(image/xuanku.png) no-repeat left;
    	width: 190px;
    	height: 110px;
    }
  #resume .resume-mode li .resume-nth1:nth-of-type(1):hover{
    	background: url(image/xuanku2.png) no-repeat left;
    	width: 190px;
    	height: 110px;
    	cursor: pointer;
    }
 
    #resume .resume-mode li:nth-of-type(2){    	
    	background: url(image/six.png) no-repeat ;
    	width: 80px;
    	height: 80px;
    	margin-left: 38px;
    	margin-top: 35px;
    }
     #resume .resume-mode li .resume-nth2:nth-of-type(1){
     	display: block;
    	background: url(image/wenzi.png) no-repeat  right;
    	margin-left: 19px;
    	width: 190px;
    	height: 110px;
    	
    }
     #resume .resume-mode li .resume-nth2:nth-of-type(1):hover{
     	
    	background: url(image/wenzi2.png) no-repeat right ;
    	width: 190px;
    	height: 110px;
    	margin-left: 19px;
    	cursor: pointer;
    }
    